/* -------------------------------------------------------------------------- */
/*                                 @font-face                                 */
/* -------------------------------------------------------------------------- */
@font-face {
    font-family: "robotoRegular";
    src: url("/src/fonts/roboto/Roboto-Regular.ttf") format("opentype"),
        url("/src/fonts/roboto/Roboto-Regular.woff") format("woff"),
        url("/src/fonts/roboto/Roboto-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "robotoBold";
    src: url("/src/fonts/roboto/Roboto-Bold.ttf") format("opentype"),
        url("/src/fonts/roboto/Roboto-Bold.woff") format("woff"),
        url("/src/fonts/roboto/Roboto-Bold.woff2") format("woff2")
}

/* -------------------------------------------------------------------------- */
/*                                     CSS                                    */
/* -------------------------------------------------------------------------- */
* {
    font-family: 'robotoRegular', sans-serif;
}